.CartItemCard {
     position: relative;
     width: 360px;
     height: 100px;
     margin: 10px auto;
     border-radius: 5px;
     background-color: var(--card);
}
.CartItemImage {
     position: absolute;
     top: 10px;
     left: 10px;
     width: 80px;
     height: 80px;
     border-radius: 5px;
}
.CartItemName {
     position: absolute;
     top: 10px;
     right: 10px;
     margin: 0;
     width: 240px;
     text-overflow: ellipsis;
     overflow: hidden;
     white-space: nowrap;
     font-size: var(--midT);
     line-height: var(--midT);
     font-family: var(--interFont);
     font-weight: 600;
     color: var(--txtColor);
}
.CartItemPrice {
     position: absolute;
     bottom: 10px;
     right: 60px;
     margin: 0;
     width: 190px;
     text-overflow: ellipsis;
     overflow: hidden;
     white-space: nowrap;
     font-size: var(--bodyTxt);
     line-height: var(--bodyTxt);
     font-family: var(--interFont);
     font-weight: 400;
     color: var(--txtColor);
}
.CartItemQuantityNumber {
     position: absolute;
     width: 36px;
     height: 36px;
     bottom: 10px;
     right: 10px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     text-align: center;
     background-color: var(--btnColor);
     border-radius: 5px;
     font-size: var(--bodyTxt);
     font-weight: 600;
     font-family: var(--interFont);
     font-weight: normal;
     color: var(--txtColor);
}