.Cart {
     padding-top: 80px;
}
.CartHeading {
     position: fixed;
     top: 0px;
     z-index: 1;
     line-height: 70px;
     background-color: var(--bgColor);
     left: 50%;
     text-align: center;
     transform: translateX(-50%);
     width: 100%;
     color: var( --txtColor);
     font-family: var( --overpassFont);
     font-weight: 500;
     letter-spacing: 2px;
     font-size: var( --mainT);
     margin: 0;
     border-bottom: 2px solid rgb(240, 240, 240);
}
.emptyCart {
     text-align: center;
     color: var(--txtColor);
     opacity: 0.5;
     width: 85%;
     margin: auto;
     margin-top: 60px;
     font-family: var(--interFont);
     letter-spacing: 1px;
     font-weight: 400;
}
.pay {
     position: fixed;
     bottom: 90px;
     left: 50%;
     transform: translateX(-50%);
     height: 42px;
     line-height: 42px;
     width: 90%;
     border: none;
     border-radius: 5px;
     font-size: 17px;
     font-weight: 600;
     letter-spacing: 3px;
     font-family: var(--overpassFont);
     color: var(--txtColor);
     background-color: var(--btnColor);

}