.SearchBar {
     display: flex;
     width: 95%;
     height: 40px;
     margin: 20px auto;
     gap: 0;
}
.Bar {
     flex: 9;
     padding: 5px 10px 5px 15px;
     background-color: var(--bg);
     color: white;
     font-size: 14px;
     border: none;
     border-top-left-radius: 5px;
     border-bottom-left-radius: 5px;
}
.Bar:focus {
     outline: 0;
}
.Bar::placeholder {
     color: rgb(202, 202, 202);
     letter-spacing: 1px;
}
.Button {
     flex: 1;
     border: none;
     background-color: var(--secColor);
     opacity: 0.5;
     border-top-right-radius: 5px;
     border-bottom-right-radius: 5px;
}
#searchIcon {
     fill: var(--icnColor);
}